
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
body{
    margin: 0 0;
}
/* navibar start */
.navibar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 35px 210px;
}
ul{
    display: flex;
}
.name{
    font-weight: 800;
    font-size: 45px;
    line-height: 1px;
    letter-spacing: 0%;
    text-align: left;
    
  
}
.header{
    /* height: 837px; */
    background-image: url(/images/developerfinal.png),url(/images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;

    
}
 .name-decoration{
    color: rgba(253, 110, 10, 1);
 }

nav ul li {
    list-style: none;
    
} 
nav ul{
    gap: 50px;
    display: flex;
    align-items: center;
}

nav ul li a{
    text-decoration: none;
    color: rgba(71, 71, 71, 1);
}

.btn{
    background-color: rgba(253, 110, 10, 1);
    color: rgba(255, 255, 255, 1);
    width: 150px;
    height: 50px;
    border-radius: 5px;
    border: none;

}

/* banner start */

.banner .banner-title{
    font-weight: 600;
    font-size: 35px;
    line-height: 40px;
    color: rgba(71, 71, 71, 1);
}
.banner .banner-name{
    color: rgba(24, 24, 24, 1);
    font-weight: 700;
    font-size: 58px;
    line-height: 70px;
    letter-spacing: 0%;
    
}
.banner-description{
    color: rgba(117, 117, 117, 1);

}
.banner{
    display: flex;
    justify-content: space-between;
}
.banner-content{
    width: 500px;
    margin-left: 220px;

}

.banner img {
    width: 500px;
}


.in-banner-btn {
  display: flex;
  gap: 10px;
}

.btn {
  text-decoration: none;
  padding: 10px 10px;
  border-radius: 6px;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  /* gap: 8px; */
}

/* Download CV button */
.cv {
  background: #ff7a00;
  color: white;
}

/* Contact button */
.contact {
  border: 1px solid #ff7a00;
  color: #ff7a00;
  background: transparent;
}

/* about me start  */

.main{
    width: 1000px;
    height: 600px;
    display: flex;
    background-color: rgba(255, 248, 243, 1);
    margin: 100px auto;
    border-radius: 10px;
}
.about-container{
    text-align: center;
    background-color: white;
    width: 700px;
    height: 350px;
    margin: 120px auto;
    border: 1px solid rgba(0, 0, 0, 1);
}

.about-container .about-description{
    color: rgba(117, 117, 117, 1);
    font-family: sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;
}

.about-items{
    display: flex;
    margin-top: 50px;
    justify-content: space-around;
}
.bold{
    color: rgba(117, 117, 117, 1);
    font-family: sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0%;
    align-items: center;

}

.item-name{
    color: rgba(117, 117, 117, 1);
    font-family: sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0;
    text-align: center;
}

/* skill container start */
.what-i-do{
    margin-top: 30px;
}

.what-i-do h1 {
    text-align: center;
}

.work-experience{
    width: 700px;
    height: 60px;
    margin: 0 auto;
    margin-bottom: 20px;
    color: rgba(117, 117, 117, 1);
    text-align: center;
}
.skills-container{
    display: flex;
    justify-content: space-around;
    margin: 50px 180px;
    gap: 20px;
}

.skills-container .skill{
    width: 250px;
    height: 350px;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0;
    text-align: left;
    font-family: sans-serif;

}

.skill p {
    /* padding-left: 0; */
    padding-right: 30px;
    color: rgba(117, 117, 117, 1);
}

.skills-container h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}
.skill{
    border-radius: 5px;
    box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.06);
    
}
.skill-content{
    padding: 20px 20px;
    
}



/* Resume start */
.resume{
    margin-top: 120px;
   
}
.resume h2{
    text-align: center;
    color: rgba(24, 24, 24, 1);
    font-family: sans-serif;
    font-weight: 700;
    font-size: 25px;
}
.resume h3{
    color: rgba(71, 71, 71, 1);
    font-family: sans-serif;
    font-weight: 700;
    font-size: 24px;
    text-align: left;
}

.resume-container {
    margin-top: 70px;
}

.resume-des{
    width: 300px;
    height: 170px;
    gap: 30px;
    border-bottom: 1px	solid
rgba(209, 209, 209, 1);

}

.resume-title{
    color: rgba(71, 71, 71, 1);
    font-family:sans-serif;
    font-weight: 700;
    font-size: 19px;
    line-height: 26px;
    text-align: left;
}


.resume-subtitle{
    color: rgba(117, 117, 117, 1);
    font-weight: 600;
    font-size: 16px;
    line-height: 23px;
    text-align: left;

}

.skill-description{
    color: rgba(117, 117, 117, 1);
    font-family: sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0%;
    text-align: left;
}

.resume-container{
    display: flex;
    gap: 100px;
    margin: 0 300px;
}

.resume-box .last{
    border-bottom: none;
}

.resume-btn{
    background-color: rgba(253, 110, 10, 1);
    color: white;
    border: none;
    width: 180px;
    height: 45px;
    border-radius: 5px;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
}


.resume-button{
    display: flex;
    margin-top: 30px;
    justify-content: center;
}

/* footer start form here. */
.footer-container{
    background-color: #FFF8F3;
    height: 550px;
    
}
.footer-container .text{
    width: 460px;
}
.footer-container h2{
    color: #181818;
    font-size: 28px;
    font-family: 'Open Sans';
    letter-spacing: 0%;
}
.footer-container p{
    color: #474747;
    font-size: 16px;
    font-family: 'Open sans';
}
.include-form input{
    display: block;
    margin-bottom: 15px;
    height: 40px;
    width: 300px ;
    border-radius: 5px;
    border: none;
   
}
.include-form{
    margin-right: 100px;
}

.footer-container{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    
}
.text , .include-form{
    margin-top: 50px;
}
.include-form input[type="text"]{
    padding: 5px;
}

.footer-container .icon-social{
    display: flex;
    gap: 40px;
    margin-top: 25px;
}

.footer-container button{
        background-color: #FD6E0A;
        color: white;
        border: none;
        border-radius: 5px;
        width: 120px;
        height: 40px;
        font-family: sans-serif;
        font-weight: bold;
        font-size: 15px;
}





