
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.navibar{
    display: flex;
}
ul{
    display: flex;
}
.name{
    font-weight: 800;
    font-size: 45px;
    line-height: 1px;
    letter-spacing: 0%;
    text-align: left;
    margin-left: 220px;
    margin-top: 50px;
  
}

 .name-decoration{
    color: rgba(253, 110, 10, 1);
 }
.unoder-list{
    margin-left: 500px;
    margin-top: 50px;
    
}